body {
    font-family: Arial;
    direction: rtl;
    background-color: #f2f7f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #27ae60;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #27ae60;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}